#tab-header {
    width: 100%;
}

#tab-content {
    width: 100%;
    min-height: 450px;
    padding-top: 5px;
}

.tabs input[type=radio] {
    position: absolute;
    top: -9999px;
    left: -9999px;
}

.tabs {
    width: 100%;
    list-style: none;
    position: relative;
    padding: 0;
    /*margin: 75px auto;*/
}

.tabs li{
    float: left;
}

.tabs label {
    width: auto;
    display: block;
    padding: 10px 20px;
    /*border-radius: 2px 2px 0 0;*/
    color: #08C;
    font-size: 20px;
    font-weight: normal;
    /*font-family: 'Lily Script One', helveti;*/
    background: rgba(255,255,255,0.2);
    cursor: pointer;
    position: relative;
    top: 3px;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.tabs label:hover {
    background: rgba(255,255,255,0.5);
    top: 0;
}

[id^=tab]:checked + label {
    background: #08C;
    color: white;
    top: 1;
}

.blueButton {
    margin-left: 5px; 
    height: 18px; 
    padding-top: 5px;
}