<div class="modal ng-scope">
	<div class="modal-header">
		<h3>{{title}}</h3>
	</div>
	<div class="modal-body">
		<p>{{message}} 
			<input data-ng-model="result" class="ng-pristine ng-valid">
		</p>
	</div>
	<div class="modal-footer">
		<button data-ng-repeat="btn in buttons" data-ng-click="close({ action : btn.action, name : result })" class="btn ng-scope ng-binding" ng-class="btn.cssClass">{{btn.label}}</button>
		<!-- <button ng-click="close(result)" class="btn btn-primary">Close</button> -->
	</div>
</div>