<div data-ng-controller="TrackerController" class="div-tracker">
	<table class="tracker-tbl">
		<tr data-ng-repeat="flds in calltracker.fields">
			<td class="fields">
				<span>{{ flds.name }}: </span>
			</td>
			<td class="answers">
				<input type="text" data-ng-model="flds.answer" data-ng-show="(flds.type=='text')?true:false" />
				<input type="text" data-ng-model="flds.answer" numeric-validation data-ng-show="(flds.type=='integer')?true:false" />
				<textarea data-ng-model="flds.answer" data-ng-show="(flds.type=='textarea')?true:false" cols="80"></textarea>
			</td>
		</tr>
	</table>
	<div class="div-buttons">
		<a class="blueButton" data-ng-click="submit_log()">Submit</a>
	</div>
</div>
