<div class="login">
	<div class="container">
		<div class="top">
			<!-- <span>Login</span> -->
		</div>
		<div class="body">
			<div>
				<div>
					<span>EMPLOYEE #:</span> 
				</div>
				<div>
					<input type="text" data-ng-model="login.username" />
				</div>
			</div>
			<div>
				<div>
					<span>PASSWORD:</span>
				</div>
				<div>
					<input type="password" data-ng-model="login.password" />
				</div>
			</div>
			<div class="button">
				<div>
					<input type="button" value="LOGIN" data-ng-click="userlogin()" />
				</div>
			</div>
		</div>
	</div>
</div>