<div class="div-report" data-ng-controller="ReportController">
    <div>
        <div class="div-dates">
            <div class="datefrom">
                From: 
                <input class="datepicker" type="text" datepicker-popup="yyyy-MM-dd" data-ng-model="datefrom" open="opened" min="minDate" max="'2015-06-22'" datepicker-options="dateOptions" data-ng-required="true"/>

                <input class="timepicker" type="text" data-ng-model="timefrom" maxlength="4" />
            </div>
            <div class="dateto">
                To:
                <input class="datepicker" type="text" datepicker-popup="yyyy-MM-dd" data-ng-model="dateto" open="opened" min="minDate" max="'2015-06-22'" datepicker-options="dateOptions" data-ng-required="true" />

                <input class="timepicker" type="text" data-ng-model="timeto" maxlength="4" />
            </div>
            <div class="author">
                Author:
                <select data-ng-model="empid">
                    <option value="All">All</option>
                    <option data-ng-repeat="author in author" value="{{author.empid}}">{{author.firstname}} {{author.lastname}}</option>
                </select>
            </div>
        </div>
        <div>
            <a class="blueButton" data-ng-click="search_report()">Search</a>
            <a class="blueButton" data-ng-click="export_report()">Export</a>
        </div>
    </div>
    <div>
        <table class="report-tbl">
            <tr>
                <th class="fields" data-ng-repeat="(k,v) in report.fields">
                    <span>{{ v }}</span>
                </th>
                <th data-ng-show="(loggeduser.usertype == 'Admin')?true:false">&nbsp;</th>
            </tr>
            <tr data-ng-repeat="(k,v) in report.info">
                <td data-ng-repeat="(key,val) in v track by $index">
                    <span data-ng-show="(key == 0)?true:false">
                        <a>{{val}}</a>
                    </span>
                    <span data-ng-show="(key == 0)?false:true">
                        {{val}}
                    </span>
                </td>
                <td data-ng-show="(loggeduser.usertype == 'Agent')?false:true">
                    <a data-ng-click="deletecall(k)">Delete</a>
                </td>
            </tr>
        </table>
    </div>
</div>